/node_modules
# Keep environment variables out of version control
.env
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Environnement
.env

# Prisma
prisma/.env           # Exclut le fichier de configuration .env de Prisma (s'il est distinct de l'environnement principal)
prisma/migrations/     # Exclut les migrations générées pour éviter d'encombrer le dépôt
prisma/dev.db          # Exclut la base de données locale pour le développement si elle est utilisée

# Logs
logs/
*.log
logs/*.log
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Système
.DS_Store
Thumbs.db

# Builds
dist/
build/

# Typescript
*.tsbuildinfo